*, *::after, *::before {
    box-sizing: border-box;
}

body {
    font-family: 'Martel Sans', sans-serif;
    margin: 0;
}

a {
    text-decoration: none;
}

header div {
    font-size: 0.75rem;
}

.header-container {
    height: 28px;
    width: 1312px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}