*, *::after, *::before {
    box-sizing: border-box;
}

body {
    font-family: 'Martel Sans', sans-serif;
    margin: 0;
}

a {
    text-decoration: none;
}

header div {
    font-size: 0.75rem;
}

.header-container {
    height: 28px;
    max-width: 1312px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    
    margin: 0 auto;
    padding: 0 32px;

    gap: 200px;
}

.left-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 300px;
}

.right-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 370px;
}

header .left-header>a, header .right-header>a, .drop-down-menu {
    cursor: pointer;
    color: black;

    display: flex;
    align-items: center;
}

header .sign-or-reg {
    color: #0654ba;
}

@media screen and (max-width:1023px) {
    .right-header a:first-child {
        display: none;
    }

    .right-header {
        width: 300px;
        flex-shrink: 0;
    }
}

@media screen and (max-width:999px) {
    .right-header div:first-of-type {
        display: none;
    }

    .right-header {
        width: 220px;
        flex-shrink: 0;
    }
}

@media screen and (max-width:763px) {
    .left-header span:nth-child(3), .left-header a:nth-child(4){
        display: none;
    }
    
    .left-header {
        flex-shrink: 0;
        width: 250px;
    }

}

@media screen and (max-width:663px) {
    header  .left-header>a{
        display: none;
    }

    header .left-header {
        width: 110px;
        flex-shrink: 0;
    }
}